{% extends "layout.html" %}

{% set title = 'Home' %}
{% set page = 'home' %}

{% block content %}
<section id="main-slider" class="no-margin">
        <div id = "home" class="carousel slide">
            <div class="carousel-inner">
                <div id="intro-background" class="item active" style="background-image: linear-gradient(
      rgba(55, 55, 55, 0.15),
      rgba(55, 50, 60, 0.45)
    ),url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
							<div class="col-sm-6">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1">Martinsen<br> <span>Tutoring Services</span></h2>
                                <p class="animation animated-item-2 black" style="color:gold;">
                                  <strong><span>At Home, One-on-One, &amp; Affordable</span></strong> <br>
								  <strong><span>All age levels</span></strong> <br>
							  </p>
							  <p class="animation animated-item-2" style="color:gold;">
								  <strong><span>SAT, Math, Chemistry, Geometry,<br>
								Calculus, Physics, Spanish, and more</span></strong>
							  </p>
                            </div>
							</div>
                            <div class="col-sm-6 ">
								<!-- hidden-xs to hide this for mobile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section id="conatcat-info">
        <div id="contact-us" class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2 style="color:black;" class="hidden-sm">Schedule a tutoring session today!</h2>
                            <a class="btn btn-primary btn-slide animation animated-item-3" href="contact-us.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
